// change into .svx when far enough into the year

---
title: "Year 5: A Quiet Kind of Arrival"
date: "2026-05-05"
heroImage: "/coming-soon.jpg"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
</script>

<Hero title="Year 5: A Quiet Kind of Arrival" image="/coming-soon.jpg">
</Hero>

<div class="article-content">

Soon to come, May 2026!
</div>
