---
title: "Field Research in London"
date: "2026-01-21"
heroImage: "/coming-soon.jpg"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
</script>

<Hero title="Field Research in London" image="/coming-soon.jpg">
</Hero>

<div class="article-content">

Placeholder for my upcoming field research in London, January 2026!
</div>