---
title: "Honors Portfolio"
date: "2023-11-05"
heroImage: "/src/lib/assets/websiteGRAB.PNG"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
	import heroImg from '$lib/assets/websiteGRAB.PNG';
</script>

<Hero title="Honors Portfolio" image=heroImage>
</Hero>

<div class="article-content">
Info about Honors Portfolio
</div>