---
title: "On the River, in Brazil"
date: "2026-03-21"
heroImage: "/coming-soon.jpg"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
</script>

<Hero title="On the River, in Brazil (upcoming)" image="/coming-soon.jpg">
</Hero>

<div class="article-content">

Placeholder for my upcoming Brazil study tour in March 2026!
</div>
