---
title: "On the River, in Brazil"
date: "2026-03-21"
heroImage: "/src/lib/assets/greek-statue1.jpg"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
	import heroImg from '$lib/assets/greek-statue1.jpg';
</script>

<Hero title="On the River, in Brazil (upcoming)" image={heroImg}>
</Hero>

<div class="article-content">

Placeholder for my upcoming Brazil study tour in March 2026!
</div>