---
title: "Travel Writing in Iceland"
date: "2024-12-21"
heroImage: "/src/lib/assets/iceland-cover.jpg"
---

<script>
	import Hero from '$lib/components/Hero.svelte';
	import heroImg from '$lib/assets/iceland-cover.jpg';
</script>

<Hero title="Travel Writing in Iceland" image={heroImg}>
</Hero>

<div class="article-content">
Info about Travel Writing in Iceland
</div>